---
http_interactions:
- request:
    method: get
    uri: https://api.telegra.ph/createAccount?author_name=test_author&author_url=http://author.com&short_name=test_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/author.com\/","access_token":"a9c3f50e96e42a96cf0e399180c1ea8b6bcf36c36f65f6065a1d38a74f60","auth_url":"https:\/\/edit.telegra.ph\/auth\/qRQwOc4xh5dzM7kg14KKFSZREMs4C5G2XuyJGBgWGr"}}'
  recorded_at: Sat, 09 Sep 2017 14:55:19 GMT
recorded_with: VCR 3.0.3
