---
http_interactions:
- request:
    method: get
    uri: https://api.telegra.ph/createAccount?access_token=7fc3ea4137fab3836e43c3455bbd637da96e65dc17413242b02d86cb0a39&author_name=test_author&author_url=http://author.com&short_name=test_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/author.com\/","access_token":"7d604ec10532362c5c8b46ebfdcfb524285cad59b9e7a3e6b30872ab47ca","auth_url":"https:\/\/edit.telegra.ph\/auth\/tq6DbHNujUjfekB7wHHW4B71bWqS30JuoN8zvT3MLm"}}'
  recorded_at: Wed, 18 Oct 2017 14:20:07 GMT
recorded_with: VCR 3.0.3
