---
http_interactions:
- request:
    method: get
    uri: https://api.telegra.ph/getAccountInfo?access_token=a24dbcafbd49a962e4a7f5842410afdb07e49f0f7ac108a3c68146e75ca5&fields=%5B%22short_name%22,%20%22author_name%22,%20%22author_url%22,%20%22auth_url%22,%20%22page_count%22%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"new name","author_name":"new author","author_url":"http:\/\/new-url.com\/","auth_url":"https:\/\/edit.telegra.ph\/auth\/gCClRPOaMv479Fq24REcJ7lKoqCeezRsbtN0gz915d","page_count":41}}'
  recorded_at: Wed, 18 Oct 2017 15:21:43 GMT
- request:
    method: get
    uri: https://api.telegra.ph/editAccountInfo?access_token=a24dbcafbd49a962e4a7f5842410afdb07e49f0f7ac108a3c68146e75ca5&author_name=new%20author&author_url=http://new-url.com&short_name=new%20name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"new name","author_name":"new author","author_url":"http:\/\/new-url.com\/"}}'
  recorded_at: Wed, 18 Oct 2017 15:21:43 GMT
recorded_with: VCR 3.0.3
