---
http_interactions:
- request:
    method: get
    uri: https://api.telegra.ph/getAccountInfo?access_token=a24dbcafbd49a962e4a7f5842410afdb07e49f0f7ac108a3c68146e75ca5&fields=%5B%22short_name%22,%20%22author_name%22,%20%22author_url%22,%20%22auth_url%22,%20%22page_count%22%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"keka","author_name":"","author_url":"","auth_url":"https:\/\/edit.telegra.ph\/auth\/KaVgmMj8CGOp22F7Aaj9TbY1EuCvHjirtbGNYXVAEJ","page_count":41}}'
  recorded_at: Tue, 17 Oct 2017 17:11:48 GMT
recorded_with: VCR 3.0.3
