---
http_interactions:
- request:
    method: get
    uri: https://api.telegra.ph/createAccount?access_token=811e4cc5afc8b940f671c986d761eb20d8f657d6d4cdd73beb609826ea18&author_name=test_author&author_url=http://author.com&short_name=test_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/author.com\/","access_token":"7fc3ea4137fab3836e43c3455bbd637da96e65dc17413242b02d86cb0a39","auth_url":"https:\/\/edit.telegra.ph\/auth\/bcXd72YoXrGnTnYiMMj6lGupDLfgd9EojBBpBxLzYr"}}'
  recorded_at: Wed, 18 Oct 2017 14:20:06 GMT
- request:
    method: get
    uri: https://api.telegra.ph/getAccountInfo?access_token=7fc3ea4137fab3836e43c3455bbd637da96e65dc17413242b02d86cb0a39&fields=%5B%22short_name%22,%20%22author_name%22,%20%22author_url%22,%20%22auth_url%22,%20%22page_count%22%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/author.com\/","auth_url":"https:\/\/edit.telegra.ph\/auth\/0KVooBkSEPzbKcWVDWwCwbaUU9ya2Og0x9nVKFLmvl","page_count":0}}'
  recorded_at: Wed, 18 Oct 2017 14:20:07 GMT
recorded_with: VCR 3.0.3
