---
http_interactions:
- request:
    method: get
    uri: https://api.telegra.ph/createAccount?author_name=test_author&short_name=keka
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"keka","author_name":"test_author","author_url":"","access_token":"47b0a7223bcbe1056272c98f64cfcf99676254d6dd7e9068cee38baa36e4","auth_url":"https:\/\/edit.telegra.ph\/auth\/iTjFLbZXSfKtQwcmFjWdi5KH9634uRGMKXqv9prZEb"}}'
  recorded_at: Wed, 18 Oct 2017 11:30:34 GMT
recorded_with: VCR 3.0.3
