---
http_interactions:
- request:
    method: get
    uri: https://api.telegra.ph/createAccount?author_name=test_author&author_url=http://author.com&short_name=test_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/author.com\/","access_token":"50a7d7632ad2048073381786e3f088df937300ed7806d601c64fa893991b","auth_url":"https:\/\/edit.telegra.ph\/auth\/4bWggCw1UWjwH2venajlRZhuQzl3hRbl05zeI6gA0x"}}'
  recorded_at: Sat, 09 Sep 2017 14:55:18 GMT
recorded_with: VCR 3.0.3
