---
http_interactions:
- request:
    method: get
    uri: https://api.telegra.ph/createAccount?author_name=test_author&author_url=http://author.com&short_name=test_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/author.com\/","access_token":"811e4cc5afc8b940f671c986d761eb20d8f657d6d4cdd73beb609826ea18","auth_url":"https:\/\/edit.telegra.ph\/auth\/iAdQzAmCdTb9XbyvwoFn9dIOWHN6WUhess200pCdiM"}}'
  recorded_at: Wed, 18 Oct 2017 14:20:06 GMT
recorded_with: VCR 3.0.3
