---
http_interactions:
- request:
    method: get
    uri: https://api.telegra.ph/createPage?access_token=a24dbcafbd49a962e4a7f5842410afdb07e49f0f7ac108a3c68146e75ca5&content=%5B%7B%22tag%22:%22p%22,%22children%22:%5B%22Hello%22%5D%7D%5D&title=keka
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"path":"keka-10-17-4","url":"http:\/\/telegra.ph\/keka-10-17-4","title":"keka","description":"","views":0,"can_edit":true}}'
  recorded_at: Tue, 17 Oct 2017 09:10:40 GMT
recorded_with: VCR 3.0.3
