---
http_interactions:
- request:
    method: get
    uri: https://api.telegra.ph/createAccount?author_name=test_author&author_url=http://author.com&short_name=test_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/author.com\/","access_token":"56522d513a723b66639fd41d12fcf30d2863a72ee3f7b5939603740d6692","auth_url":"https:\/\/edit.telegra.ph\/auth\/0g3XbWLyD9NnNe0z0yvaSm4bY3OstNzt2Bodx7J8gw"}}'
  recorded_at: Sat, 09 Sep 2017 14:37:31 GMT
recorded_with: VCR 3.0.3
