---
http_interactions:
- request:
    method: get
    uri: https://api.telegra.ph/createAccount?author_name=test_author&author_url=http://author.com&short_name=test_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/author.com\/","access_token":"bb1e05ddc11c6d9498f67ee15334f9683298ce841fb688dbda36df4da796","auth_url":"https:\/\/edit.telegra.ph\/auth\/Vf7C8s0so42UFWcc50EWFRDJd5Z3wv1rK62Qx0iV4j"}}'
  recorded_at: Sat, 09 Sep 2017 14:54:29 GMT
recorded_with: VCR 3.0.3
