---
http_interactions:
- request:
    method: get
    uri: https://api.telegra.ph/createAccount?author_name=test_author&author_url=http://author.com&short_name=test_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/author.com\/","access_token":"8728ba528585933cdc687c465c9efa5336dc5086b8b93bf5534708fe331d","auth_url":"https:\/\/edit.telegra.ph\/auth\/rYKobTL10Krv7jcpkhZ1hsEHMz04WFDmCmKNduMdcd"}}'
  recorded_at: Sat, 09 Sep 2017 14:37:30 GMT
recorded_with: VCR 3.0.3
