---
http_interactions:
- request:
    method: get
    uri: https://api.telegra.ph/createAccount?author_name=test_author&author_url=http://author.com&short_name=test_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/author.com\/","access_token":"faab3bf5fb3ff4bea2d4c0c66283526085a2ec3a388720acd20204eaccfd","auth_url":"https:\/\/edit.telegra.ph\/auth\/kReGjALd2zMRxlblWpe943SsPjrF7MbsBq6UYP7ZnT"}}'
  recorded_at: Sun, 10 Sep 2017 11:53:15 GMT
recorded_with: VCR 3.0.3
