---
http_interactions:
- request:
    method: get
    uri: https://api.telegra.ph/createAccount?author_name=test_author&author_url=http://author.com&short_name=test_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/author.com\/","access_token":"dde8f1d8d79e0f0a8e741c7ceb7912b0d88e4ce6820ea3b59919ad907e7a","auth_url":"https:\/\/edit.telegra.ph\/auth\/wnymuBzeJbRpakmFYCALOpFk5EjZ6v5CSDXldwzWHo"}}'
  recorded_at: Sat, 09 Sep 2017 14:54:30 GMT
recorded_with: VCR 3.0.3
