---
http_interactions:
- request:
    method: get
    uri: https://api.telegra.ph/createAccount?author_name=test_author&author_url=http://author.com&short_name=test_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/author.com\/","access_token":"e568628af4dbe046ad360f3cd69533d4e8ad0ef5c2332e27e2526e06af11","auth_url":"https:\/\/edit.telegra.ph\/auth\/tJbSV1DjVym8z2Xv95HPpkORho7iAFV3o6Uh5xBY3V"}}'
  recorded_at: Sat, 09 Sep 2017 14:37:30 GMT
recorded_with: VCR 3.0.3
