---
http_interactions:
- request:
    method: get
    uri: https://api.telegra.ph/createAccount?access_token=7d604ec10532362c5c8b46ebfdcfb524285cad59b9e7a3e6b30872ab47ca&author_name=test_author&author_url=http://author.com&short_name=test_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/author.com\/","access_token":"32b19f39673c57393e8527fe4d81a5d7a23ea338ac57e4a4e4193dd53c2e","auth_url":"https:\/\/edit.telegra.ph\/auth\/KBQLf0Hr9NkUCVODAJbqScMLjIB9N3xxFohSmYktLC"}}'
  recorded_at: Wed, 18 Oct 2017 14:20:07 GMT
recorded_with: VCR 3.0.3
