---
http_interactions:
- request:
    method: get
    uri: https://api.telegra.ph/createAccount?author_name=test_author&author_url=http://author.com&short_name=test_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/author.com\/","access_token":"a7e58c54a80c4078f1e6537fbd593045d7f1dea981580441e7295b7dd694","auth_url":"https:\/\/edit.telegra.ph\/auth\/0ddjHIjR64TGs6m3TTIvjOpBOGRR7Cc7Nnou5Hj9Lc"}}'
  recorded_at: Sat, 09 Sep 2017 14:55:19 GMT
recorded_with: VCR 3.0.3
