---
http_interactions:
- request:
    method: get
    uri: https://api.telegra.ph/createAccount?author_name=test_author&author_url=http://author.com&short_name=test_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/author.com\/","access_token":"4f0c9c5a5502cdd70ce8dea24f1beb12500cd0245caa3487570d8ea3ce40","auth_url":"https:\/\/edit.telegra.ph\/auth\/5W7UCZap2I2jNHZwYPw67UXxExBEzc3C68xH8F6an6"}}'
  recorded_at: Sat, 09 Sep 2017 14:54:29 GMT
recorded_with: VCR 3.0.3
