---
http_interactions:
- request:
    method: get
    uri: https://api.telegra.ph/createAccount?author_name=test_author&author_url=http://author.com&short_name=test_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/author.com\/","access_token":"03e23d9678fafe582111ca203a323adc9f212930dedf7313dd5ebd1731f1","auth_url":"https:\/\/edit.telegra.ph\/auth\/mIvFakDTe3QywltjO5RjKwj5FSCNmPtIxWnFe1ws2k"}}'
  recorded_at: Sun, 10 Sep 2017 11:53:15 GMT
recorded_with: VCR 3.0.3
